* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: normal;
  width: 100%;
  height: 100%;
  background-color: #333333;
}

main {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.content {
  flex: 1;
  height: 600px;
}

#wrapper {
  width: 100%;
}

#content__row {
  width: 100%;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 40px 10px 40px;
  align-items: baseline;
  color: #fff;
}

#item {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

#item > h4 {
  margin-top: 20px;
  margin-bottom: 12px;
}

 footer {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 80px;
  padding: 10px;
  bottom: 0;
  position: fixed;
  border: 1px solid #fff;
  justify-content: space-between;
}

.musicControl {
  height: 30px;
  display: flex;
  align-items: center;
}

.musicControl > img {
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.musicControl > img:hover {
  color: red;
} 

.musicControl > #playButton {
  height: 30px;
}

.musicContent {
  display: flex;
  color: #fff;
}

.musicContent > img {
  height: 60px;
  margin-left: 40px;
  margin-right: 20px;
}

.musicContent__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.musicContent__text > h3 {
  font-size: 16px;
}

.musicContent__text > h3:hover {
  color: red;
}

.musicContent__text > p {
  font-size: 14px;
  font-weight: bold;
}

.musicTime {
  color: white;
  font-weight: bold;
  padding-right: 80px;
}

#btn__backToTop {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 30px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#btn__backToTop:hover {
  background-color: transparent;
  color: red;
}

#item:hover {
  background-color: #444;
}

#item > img:hover {
  cursor: pointer;
}

#item > h1:hover,
h4:hover,
p:hover {
  cursor: pointer;
  color: red;
}
