* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #333333;
    width: 1440px;
    margin: auto;
}

.btn {
    width: 120px;
    height: 39px;
    border-radius: 5px;
    font-size: 15px;
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.icon-size {
    width: 34px;
    height: 34px;
    vertical-align: middle;
    margin-right: 10px;
}

.song-img-size {
    width: 90px;
    height: 90px;
}

/* App Submenu Bar Navigation */
header {
    position: absolute;
    height: 69px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #000000;
    margin: 0 auto;
}


.logo {
    position: absolute;
    left: 25px;
    top: 13px;
}

.name {
    position: absolute;
    width: fit-content;
    height: 22px;
    left: 57px;
    top: calc(42% - 22px/2);
    display: flex;
    align-items: center;
}

.dn-btn {
    position: absolute;
    left: 1144px;
    top: 11px;
    background-color: #ffffff;
    color: #000000;
}

.dk-btn {
    position: absolute;
    left: 1284px;
    top: 11px;
    background-color: #3FA2F7;
}

.ct-btn {
    position: absolute;
    left: 45%;
    background-color: #3FA2F7;
}

.search {
    position: absolute;
    width: 400px;
    height: 36px;
    left: 520px;
    top: 12px;
}

.s-icon {
    position: absolute;
    width: 34px;
    height: 35.3px;
    border: 0;
    border-radius:5px 0 0 5px;
    background-color: white;
    text-align: center;
    vertical-align: baseline;
    padding: 8px;
    top: 0.3px;
}

.s-input {
    position: absolute;
    width: 366px;
    height: 36px;
    border: 0;
    border-radius:0 5px 5px 0;
    left: 34px;
}

/* main {
    display: flex; 
    flex-direction: row; 
    position: absolute; 
    top: 109px;
} */


.side-item {
    list-style: none;
    height: 51px;
    border: 1px solid #FFFFFF;
    padding: 7px 20px 7px 25px;
}

.side-item:hover {
    background-color: #3FA2F7;
}

.side-item:focus {
    background-color: #3FA2F7;
}

.song-container {
    list-style: none;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    float: left;
    margin: 12px;
}

footer {
    position: absolute;
    height: 180px;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 844px;
    background: #000000;
    border-top: 1px solid #FFFFFF;
    margin: 0 auto;
}

.copy-right {
    position: absolute;
    width: fit-content;
    height: 21px;
    top: 150px;
    left: 639px;
}

.law {
    position: absolute;
    width: fit-content;
    height: 21px;
    top: 10px;
    left: 28px;
}

.contact {
    position: absolute;
    width: fit-content;
    height: 21px;
    left: 1130px;
    top: 10px;
}

.about {
    position: absolute;
    width: fit-content;
    height: 21px;
    left: 1313px;
    top: 10px;
}
.content {
    position: absolute;
    width: 588px;
    height: 608px;
    left: 426px;
    top: 120px;
    background: rgba(196, 196, 196, 0.09);
}
.avatar_icon {
    position: absolute;
    width: 113px;
    height: 111px;
    left: 226px;
    top: 8px;
}

.userName_input {
    position: absolute;
    width: 352px;
    height: 41.36px;
    left: 102px;
    top: 142.08px;
    border-radius: 10px;
    border: 0;
    background: #FFFFFF;
}
/* .user_icon {
    position: absolute;
    width: 25px;
    height: 29px;
    left: 55px;
    top: 149px;
   
} */
.passWord_input {
    position: absolute;
    width: 352px;
    height: 41.36px;
    left: 102px;
    top: 224.08px;
    border-radius: 10px;
    border: 0;
    background: #FFFFFF;
    transform: rotate(-0.01deg);
}
.userName_input, .passWord_input, ::placeholder { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: rotate(-0.01deg);
}

#forGot {
    position: absolute;
    width: 189.16px;
    height: 29px;
    left: 238px;
    top: 278.04px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: rgba(63, 162, 247, 0.99);

    transform: rotate(-0.01deg);
}
.signUp-btn {
    position: absolute;
    width: 352px;
    height: 38px;
    left: 102px;
    top: 326px;
    border: 0;
    background: #3FA2F7;
    transition-duration: 0.4s;
    position: absolute;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.signUp-btn:hover {
background-color: #66dcfa; 
color: white;   
}
.fb_icon {
    position: absolute;
    width: 68px;
    height: 66px;
    left: 159px;
    top: 469px;

    background: url(image.png);
    border-radius: 20px;
}
.gg_icon {
    position: absolute;
    width: 68px;
    height: 66px;
    left: 334px;    
    top: 469px;

    background: url(image.png);
    border-radius: 20px;
}
#question {
    position: absolute;
    width: 189.16px;
    height: 29px;
    left: 159px;
    top: 561.04px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
#signUp {
    position: absolute;
    width: 100.28px;
    height: 15px;
    left: 334px;
    top: 567.02px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #3FA2F7;

    transform: rotate(-0.01deg);
}