.content {
    position: absolute;
    width: 588px;
    height: 608px;
    left: 426px;
    top: 100px;
    background: rgba(196, 196, 196, 0.09);
    margin: auto;
}

.avatar_icon {
    position: absolute;
    width: 113px;
    height: 111px;
    left: 226px;
    top: 8px;
}

.userName_input {
    position: absolute;
    width: 352px;
    height: 41.36px;
    left: 102px;
    top: 142.08px;
    border-radius: 10px;
    border: 0;
    background: #FFFFFF;
}

.user_icon {
    position: absolute;
    width: 25px;
    height: 29px;
    left: 55px;
    top: 149px;
}

.passWord_input {
    position: absolute;
    width: 352px;
    height: 41.36px;
    left: 102px;
    top: 224.08px;
    border-radius: 10px;
    border: 0;
    background: #FFFFFF;
    transform: rotate(-0.01deg);
}

.userName_input, .passWord_input{ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: rotate(-0.01deg);
}

#forGot {
    position: absolute;
    width: 189.16px;
    height: 29px;
    left: 238px;
    top: 278.04px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: rgba(63, 162, 247, 0.99);

    transform: rotate(-0.01deg);
}

.signUp1-btn {
    position: absolute;
    width: 352px;
    height: 38px;
    left: 102px;
    top: 326px;
    border: 0;
    background: #3FA2F7;
    transition-duration: 0.4s;
    position: absolute;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.signUp1-btn:hover {
background-color: #66dcfa; 
color: white;   
}
.fb_icon {
    position: absolute;
    width: 68px;
    height: 66px;
    left: 159px;
    top: 469px;

    background: url(image.png);
    border-radius: 20px;
}
.gg_icon {
    position: absolute;
    width: 68px;
    height: 66px;
    left: 334px;    
    top: 469px;

    background: url(image.png);
    border-radius: 20px;
}
#question {
    position: absolute;
    width: 189.16px;
    height: 29px;
    left: 159px;
    top: 561.04px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
#signUp {
    position: absolute;
    width: 100.28px;
    height: 15px;
    left: 334px;
    top: 567.02px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #3FA2F7;

    transform: rotate(-0.01deg);
}