.nav{
    margin: 50px auto;
    width: fit-content;
}

.nav a {
    cursor: pointer;
    border: 1px solid azure;
    color: azure;
    padding: 5px 30px;
    text-decoration: none;
    margin-right: 30px;
}

.nav a:hover{
    background-color: #1da4b6;
}

.nav a:focus{
    background-color: #1da4b6;
}
#iframe{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
 
}
.component{
    color: azure;
    display: flex;
    width: 100%;
    border: 1px solid #fff;
    margin: 5px;
    padding: 0px;
}
.component .stt{
    flex-grow: 0.5;
    font-size: 200%;
    margin: auto 10px;
}
.component .image{
    flex-grow: 0.5;
}
.component .icon{
    flex-grow: 2;
}
.component .name{
    flex-grow: 15;
    font-size: 90%;
}
.component .name .name_song, .name_performer{
    position: relative;
    top: 20%;
    margin-bottom: 20px;
}

.image img{
    width: 60px;
}
.icon{

    display: flex;
    justify-content: space-around;
    height: fit-content;
}
.icon i {
    
    position: relative;
    top: 1.5rem;
    /* transform: translateY(-50%); */
}